@model UniversityWebDBMS.Models.Student

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<h2>Edit</h2>

<form action="?mod=student_add_form" method="post">
    <p>Student Information</p>
    <hr />
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text create-course-input" id="">Student ID:</span>
        </div>
        <input name="name" type="text" class="form-control disabled" value="@Model.id">
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text create-course-input" id="">Name:</span>
        </div>
        <input name="name" type="text" class="form-control" value="@Model.name">
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text create-course-input" id="">Surname:</span>
        </div>
        <input name="surname" type="text" class="form-control" value="@Model.surname">
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text create-course-input" id="">Patronymic:</span>
        </div>
        <input name="patronymic" type="text" class="form-control" value="@Model.patronymic">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text create-course-input" for="inputGroupSelect01">Program:</label>
        </div>
        <select class="custom-select" name="program">
            @foreach (UniversityWebDBMS.Models.Program program in new UniversityWebDBMS.Models.UniModel().Programs.ToList())
            {
                <option @if (program.id.Equals(Model.program)){ <text>selected</text> } value="@program.id">@program.name</option>
            }
        </select>
    </div>
    <p>Login Details</p>
    <hr />
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text create-course-input" id="">Password:</span>
        </div>
        <input name="password" type="password" class="form-control" value="@Model.surname">
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text create-course-input" id="">Mobile Phone:</span>
        </div>
        <input name="mobile" type="text" class="form-control" value="@Model.User.mobile">
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text create-course-input" id="">E-mail:</span>
        </div>
        <input name="email" type="text" class="form-control" value="@Model.User.email">
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text create-course-input" id="">Address:</span>
        </div>
        <input name="address" type="text" class="form-control" value="@Model.User.address">
    </div>
    <p>Academic Information</p>
    <hr />
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text create-course-input" id="">Entrance Year:</span>
        </div>
        <input name="entrance" type="text" class="form-control" value="@Model.AcademicInfo.entrance">
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text create-course-input" id="">Advisor:</span>
        </div>
        <input name="advisor" type="text" class="form-control" value="@Model.AcademicInfo.advisor">
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text create-course-input" id="">Dissertation Topic:</span>
        </div>
        <input name="dis_topic" type="text" class="form-control" value="@Model.AcademicInfo.dis_topic">
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text create-course-input" id="">SEC Exam Score:</span>
        </div>
        <input name="exam_score" type="text" class="form-control" value="@Model.AcademicInfo.exam_score">
    </div>
    <button class="btn btn-primary" type="submit">Update</button>
</form>

<div>
    <a href="?mod=student_list">Back to List</a>
</div>
