@model UniversityWebDBMS.Models.Student

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/Index.cshtml";
}

<h2>Home</h2>

<div class="container-fluid">
    <h4>Welcome, @Html.DisplayFor(model => model.name) @Html.DisplayFor(model => model.surname)</h4>
    <hr />
    <table class="table">
        <tbody>
            <tr>
                <th>Student ID</th>
                <td>@Model.id</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>@Model.name</td>
            </tr>
            <tr>
                <th>Surname</th>
                <td>@Model.surname</td>
            </tr>
            <tr>
                <th>Patronymic</th>
                <td>@Model.patronymic</td>
            </tr>
            <tr>
                <th>Program
                <td>@Model.Program1.name</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>@Model.AcademicInfo.status</td>
            </tr>
            <tr>
                <th>Dissertation topic</th>
                <td>@Model.AcademicInfo.dis_topic</td>
            </tr>
            <tr>
                <th>SEC exam score</th>
                <td>@Model.AcademicInfo.exam_score</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>@Model.User.email</td>
            </tr>
            <tr>
                <th>State Funded</th>
                <td>@Model.AcademicInfo.state_funded</td>
            </tr>
            <tr>
                <th>Presidential Scholarship</th>
                <td>@Model.AcademicInfo.presidential_scholarship</td>
            </tr>
            <tr>
                <th>Registration Date</th>
                <td>@Model.AcademicInfo.registration_date.Value.ToString().Split()[0]</td>
            </tr>
            <tr>
                <th>Last Login</th>
                <td>@Model.User.LoginCredential.LoginInfo.lastLogin.Value.ToString().Split()[0]</td>
            </tr>
        </tbody>
    </table>

</div>
